<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gk.SQLConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

  </configSections>
  <userSettings>
    <gk.SQLConfigurator.Properties.Settings>
      <setting name="SelectedObjectIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FirstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EditorType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PanelName" serializeAs="String">
        <value>gk.SqlConfigurator</value>
      </setting>
      <setting name="UpdatePath" serializeAs="String">
        <value>\\localhost\Users\ITyulyakov\gk.SQLConfigurator\NEWSQLItems.xml</value>
      </setting>
      <setting name="DatabaseType" serializeAs="String">
        <value>SqlServer</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>192.168.40.96</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>I-LDS_BMZ</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>1q2w3e$R</value>
      </setting>
      <setting name="WindowsAuth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>0</value>
      </setting>
    </gk.SQLConfigurator.Properties.Settings>
  </userSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${USERPROFILE}\gk.SQLConfigurator\Logs\gk.SQLConfigurator.log" />
      <param name="AppendToFile" value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d  %-5p %m%n" />
      </layout>
    </appender>
    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender" />
    </logger>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
