<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <gLDSConfigurator.Properties.Settings>
            <setting name="SelectedObjectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditorType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="Xml">
                <value>
                    <xml>
                        <node name="Продукты">
<getSql>
select 'x' as [Select(x)], * from [product] where {0}
</getSql>
<createSql>
insert into [product] values (@ProductUid, @Code, @Name, @IsActive, @InAccrScope)	
</createSql>
<editSql>
  update [product]
  set
  @Code = @Code,
  @Name = @Name,
  @IsActive = @IsActive,
  @InAccrScope = @InAccrScope
  where
  ProductUid = @ProductUid
  
</editSql>
    
                            <insertSql />
                            <createoreditSql />
                            <deleteSql />
                            <icon />
                        </node>
                        <node name="Показатели">
                            <getSql>
                            SELECT distinct
                            StdDoc.[Name],
                            StdDoc.[Code],
                            StdDocVer.StdDocVerId as [RO.VersionID],
                            Version.StartDate as [RO.VersionStart],
                            Version.StopDate as [RO.VersionEnd],
                            StdDocVer.Name as [VersionName],
                            StdDocVer.Code as [VersionCode],
                            StdDocVer.Description as [VersionDescription],
                            StdDocVer.FullName as [VersionFullName],
                            Test.Name as [RO.TestName],
                            Test.Code as [RO.TestCode],
                            TechTestVer.TechTestVerId as [RO.TechTestVerId],
                            TechTestVer.Name as [TestReportName],
                            case
                            when TestType = 0 then 'A'
                            when TestType = 1 then 'D'
                            when TestType = 2 then 'G'
                            when TestType = 3 then 'VA'
                            when TestType = 4 then 'VD'
                            end [RO.TestType],

                            case
                            when TestType = 0 or TestType = 3 then TechTestAnalog.Digits
                            else -1
                            end as [TestDigits],
                            eu.Name as [RO.EngUnits],
                            convert(nvarchar, TechTestVer.ReplicatesPrimary) + ';' + convert(nvarchar, TechTestVer.ReplicatesSecondary) + ';' + convert(nvarchar, TechTestVer.ReplicatesMax) as Replocates
                            FROM
                            Tech
                            inner join StdDoc on tech.TechUid = StdDoc.StdDocUid
                            inner join StdDocVer on StdDoc.StdDocUid = StdDocVer.StdDocUid
                            inner join Version on StdDocVer.StdDocVerId = Version.VersionId and GETDATE() between Version.StartDate and Version.StopDate
                            inner join TechTest on TechTest.TechUid = Tech.TechUid
                            inner join Test on TechTest.TestId = Test.TestId
                            inner join TechTestVer on TechTestVer.TechTestUid = TechTest.TechTestUid
                            left join TechTestAnalog on TechTestAnalog.TechTestVerId = TechTestVer.TechTestVerId
                            left join EngUnit eu on eu.EngUnitId = TechTestAnalog.EngUnitId
                            left join TechTestDigit on TechTestDigit.TechTestVerId = TechTestVer.TechTestVerId
                            where 1=1 and
                            StdDoc.[Name] like '{0}' or
                            StdDoc.[Code] like '{0}' or
                            StdDocVer.Name like '{0}' or
                            StdDocVer.FullName like '{0}' or
                            StdDocVer.Code like '{0}'
                            order by StdDoc.[Name], Test.Name
                          </getSql>
                            <createSql />
                            <editSql />
                            <insertSql />
                            <createoreditSql />
                            <deleteSql />
                            <icon />
                        </node>
                        <node name="Пользователи">
                            <getSql>select * from [user]</getSql>
                            <createSql />
                            <editSql />
                            <insertSql />
                            <createoreditSql />
                            <deleteSql />
                            <icon />
                        </node>
                    </xml>
                </value>
            </setting>
        </gLDSConfigurator.Properties.Settings>
    </userSettings>
</configuration>