<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomCollectionApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CustomCollectionApp.Properties.Settings>
            <setting name="Employees" serializeAs="Xml">
                <value>
                    <ArrayOfEmployee xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <Employee>
                            <FirstName>John</FirstName>
                            <LastName>Doe</LastName>
                            <DateOfHire>2008-03-13T00:00:00</DateOfHire>
                        </Employee>
                        <Employee>
                            <FirstName>Jane</FirstName>
                            <LastName>Doe</LastName>
                            <DateOfHire>2008-03-01T00:00:00</DateOfHire>
                        </Employee>
                    </ArrayOfEmployee>
                </value>
            </setting>
        </CustomCollectionApp.Properties.Settings>
    </userSettings>
</configuration>